# Pandas-1

In [1]:
# import Python Libraries

In [2]:
import numpy as np
import pandas as pd

In [3]:
#read CSV file

In [4]:
claimants=pd.read_csv("Database/claimants.csv")

In [5]:
claimants

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

## Attributes

In [10]:
claimants.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [11]:
claimants.tail()

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE   LOSS
1335    34100         1     0.0       1.0       0.0     NaN  0.576
1336    34110         0     1.0       1.0       0.0    46.0  3.705
1337    34113         1     1.0       1.0       0.0    39.0  0.099
1338    34145         0     1.0       0.0       0.0     8.0  3.177
1339    34153         1     1.0       1.0       0.0    30.0  0.688

In [13]:
claimants.head(10)

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038
5       97         0     1.0       1.0       0.0    35.0   0.309
6       10         0     0.0       1.0       0.0     9.0   3.538
7       36         0     1.0       1.0       0.0    34.0   4.881
8       51         1     1.0       1.0       0.0    60.0   0.874
9       55         1     0.0       1.0       0.0     NaN   0.350

In [14]:
claimants.head(50)

    CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         5         0     0.0       1.0       0.0    50.0  34.940
1         3         1     1.0       0.0       0.0    18.0   0.891
2        66         1     0.0       1.0       0.0     5.0   0.330
3        70         0     0.0       1.0       1.0    31.0   0.037
4        96         1     0.0       1.0       0.0    30.0   0.038
5        97         0     1.0       1.0       0.0    35.0   0.309
6        10         0     0.0       1.0       0.0     9.0   3.538
7        36         0     1.0       1.0       0.0    34.0   4.881
8        51         1     1.0       1.0       0.0    60.0   0.874
9        55         1     0.0       1.0       0.0     NaN   0.350
10       61         0     1.0       1.0       0.0    37.0   6.190
11      148         0     0.0       1.0       0.0    41.0  19.610
12      150         1     0.0       1.0       0.0     7.0   1.678
13      150         0     1.0       1.0       0.0    40.0   0.673
14      169         1     1.0       1.0       0.0    37.0   0.143
15      171         1     1.0       0.0       0.0     9.0   0.053
16      334         1     1.0       1.0       0.0    58.0   0.050
17      360         0     0.0       1.0       0.0    58.0   0.758
18      376         1     0.0       1.0       0.0     3.0   0.000
19      401         0     1.0       1.0       0.0    38.0   4.754
20      479         0     0.0       NaN       0.0    37.0   3.100
21      480         1     1.0       1.0       0.0    39.0   0.130
22      550         0     0.0       0.0       0.0    38.0  16.161
23      569         0     0.0       NaN       0.0    30.0   0.609
24      580         1     0.0       1.0       0.0    54.0  10.040
25      608         1     1.0       1.0       0.0     3.0   0.787
26      603         1     0.0       1.0       0.0    61.0   0.150
27      606         0     0.0       1.0       0.0     0.0   0.405
28      607         1     0.0       1.0       0.0    40.0   0.405
29      630         0     0.0       1.0       0.0     NaN   0.595
30      640         1     1.0       1.0       0.0    16.0   3.994
31      640         1     0.0       1.0       0.0     NaN   0.337
32      685         1     0.0       1.0       0.0     9.0   0.603
33      700         0     1.0       1.0       0.0    35.0   1.673
34      710         0     1.0       1.0       0.0    35.0   4.751
35      766         0     1.0       1.0       0.0    17.0   3.538
36      775         0     1.0       0.0       0.0    41.0   3.185
37      805         0     1.0       1.0       0.0    50.0   3.700
38      819         1     0.0       1.0       0.0    33.0   0.386
39      838         0     0.0       1.0       0.0     9.0   1.970
40      851         1     0.0       1.0       0.0    34.0   0.904
41      871         0     1.0       0.0       0.0    33.0   8.090
42      905         0     1.0       1.0       0.0    46.0   8.090
43      941         1     1.0       1.0       0.0    55.0  13.100
44      971         1     0.0       1.0       0.0     5.0   0.460
45       61         1     1.0       1.0       0.0     NaN   3.981
46       63         0     0.0       0.0       0.0    16.0   1.740
47       78         1     0.0       1.0       0.0     1.0   0.000
48       91         0     0.0       1.0       0.0     NaN   1.003
49        0         0     0.0       1.0       0.0    40.0   3.100

In [15]:
claimants.tail(50)

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
1290    33085         1     0.0       1.0       1.0     NaN   6.100
1291    33144         1     1.0       1.0       0.0    19.0   1.537
1292    33150         1     0.0       1.0       0.0    10.0   0.964
1293    33165         1     0.0       1.0       0.0    40.0   0.749
1294    33177         0     1.0       1.0       0.0     NaN   1.041
1295    33198         0     1.0       1.0       0.0    18.0   3.180
1296    33307         1     0.0       1.0       0.0    36.0   4.448
1297    33318         0     0.0       0.0       0.0     NaN   3.800
1298    33330         1     1.0       1.0       0.0     8.0   1.195
1299    33379         1     1.0       1.0       0.0    19.0   7.393
1300    33440         0     0.0       1.0       0.0    71.0   1.595
1301    33450         1     1.0       1.0       0.0     NaN   0.700
1302    33455         1     1.0       1.0       0.0     9.0   0.364
1303    33466         0     1.0       1.0       0.0     NaN   3.845
1304    33468         1     1.0       1.0       0.0     NaN   0.500
1305    33498         1     0.0       1.0       0.0     NaN   0.000
1306    33503         1     1.0       1.0       0.0    38.0   0.005
1307    33553         1     1.0       1.0       0.0    10.0   0.019
1308    33587         0     1.0       1.0       0.0    43.0   5.434
1309    33590         0     0.0       1.0       0.0    30.0   3.034
1310    33607         0     1.0       1.0       0.0    40.0   0.905
1311    33614         0     0.0       1.0       0.0    40.0   5.168
1312    33661         0     1.0       1.0       0.0    45.0  14.884
1313    33687         1     1.0       1.0       0.0     7.0   0.986
1314    33697         1     0.0       1.0       0.0     7.0   0.107
1315    33741         0     0.0       1.0       0.0     8.0   1.105
1316    33744         1     1.0       0.0       NaN    10.0   0.158
1317    33750         0     0.0       1.0       0.0     7.0   3.535
1318    33759         1     1.0       1.0       0.0     NaN   0.070
1319    33778         1     0.0       1.0       0.0    34.0   0.763
1320    33840         1     1.0       1.0       0.0     NaN   0.540
1321    33858         0     0.0       1.0       0.0     NaN   3.437
1322    33865         1     1.0       1.0       0.0     1.0   0.080
1323    33881         0     1.0       1.0       0.0     9.0   5.460
1324    33883         0     0.0       1.0       0.0    10.0   6.564
1325    34000         0     1.0       1.0       0.0     9.0   3.169
1326    34035         0     1.0       1.0       0.0     7.0   0.688
1327    34050         0     1.0       1.0       0.0    70.0   0.505
1328    34055         0     0.0       1.0       0.0    14.0   0.400
1329    34085         1     1.0       1.0       0.0    33.0   0.535
1330    34011         1     0.0       1.0       0.0    33.0   6.817
1331    34030         0     1.0       1.0       0.0     3.0   0.950
1332    34066         1     1.0       1.0       0.0     9.0   0.000
1333    34089         1     0.0       1.0       0.0    49.0   0.000
1334    34104         1     1.0       1.0       0.0    16.0   0.060
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

In [16]:
claimants.dtypes

CASENUM       int64
ATTORNEY      int64
CLMSEX      float64
CLMINSUR    float64
SEATBELT    float64
CLMAGE      float64
LOSS        float64
dtype: object

In [18]:
claimants.columns

Index(['CASENUM', 'ATTORNEY', 'CLMSEX', 'CLMINSUR', 'SEATBELT', 'CLMAGE',
       'LOSS'],
      dtype='object')

In [23]:
claimants.axes

[RangeIndex(start=0, stop=1340, step=1),
 Index(['CASENUM', 'ATTORNEY', 'CLMSEX', 'CLMINSUR', 'SEATBELT', 'CLMAGE',
        'LOSS'],
       dtype='object')]

In [24]:
claimants.shape

(1340, 7)

In [25]:
claimants.ndim

2

In [34]:
claimants.size

9380

In [32]:
claimants.values

array([[5.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 5.0000e+01,
        3.4940e+01],
       [3.0000e+00, 1.0000e+00, 1.0000e+00, ..., 0.0000e+00, 1.8000e+01,
        8.9100e-01],
       [6.6000e+01, 1.0000e+00, 0.0000e+00, ..., 0.0000e+00, 5.0000e+00,
        3.3000e-01],
       ...,
       [3.4113e+04, 1.0000e+00, 1.0000e+00, ..., 0.0000e+00, 3.9000e+01,
        9.9000e-02],
       [3.4145e+04, 0.0000e+00, 1.0000e+00, ..., 0.0000e+00, 8.0000e+00,
        3.1770e+00],
       [3.4153e+04, 1.0000e+00, 1.0000e+00, ..., 0.0000e+00, 3.0000e+01,
        6.8800e-01]])

## Satistics

In [35]:
claimants.describe()

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS
count,1340.000000,1340.000000,1328.000000,1299.000000,1292.000000,1151.000000,1340.000000
mean,11202.001493,0.488806,0.558735,0.907621,0.017028,28.414422,3.806307
std,9512.750796,0.500061,0.496725,0.289671,0.129425,20.304451,10.636903
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4177.000000,0.000000,0.000000,1.000000,0.000000,9.000000,0.400000
50%,8756.500000,0.000000,1.000000,1.000000,0.000000,30.000000,1.069500
75%,15702.500000,1.000000,1.000000,1.000000,0.000000,43.000000,3.781500
max,34153.000000,1.000000,1.000000,1.000000,1.000000,95.000000,173.604000

In [36]:
claimants.std()

CASENUM     9512.750796
ATTORNEY       0.500061
CLMSEX         0.496725
CLMINSUR       0.289671
SEATBELT       0.129425
CLMAGE        20.304451
LOSS          10.636903
dtype: float64

In [38]:
claimants_sub=claimants.head(50)
claimants_sub.mean()

CASENUM     414.62000
ATTORNEY      0.48000
CLMSEX        0.44000
CLMINSUR      0.87500
SEATBELT      0.02000
CLMAGE       30.60000
LOSS          3.54168
dtype: float64

In [39]:
claimants.head(50).mean()

CASENUM     414.62000
ATTORNEY      0.48000
CLMSEX        0.44000
CLMINSUR      0.87500
SEATBELT      0.02000
CLMAGE       30.60000
LOSS          3.54168
dtype: float64

In [42]:
claimants['CASENUM']

0           5
1           3
2          66
3          70
4          96
        ...
1335    34100
1336    34110
1337    34113
1338    34145
1339    34153
Name: CASENUM, Length: 1340, dtype: int64

In [45]:
claimants.CASENUM

0           5
1           3
2          66
3          70
4          96
        ...
1335    34100
1336    34110
1337    34113
1338    34145
1339    34153
Name: CASENUM, Length: 1340, dtype: int64

In [48]:
claimants[['CASENUM']]

      CASENUM
0           5
1           3
2          66
3          70
4          96
...       ...
1335    34100
1336    34110
1337    34113
1338    34145
1339    34153

[1340 rows x 1 columns]

In [49]:
claimants.ATTORNEY.describe()

count    1340.000000
mean        0.488806
std         0.500061
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: ATTORNEY, dtype: float64

In [51]:
claimants.ATTORNEY.shape

(1340,)

In [52]:
claimants.ATTORNEY.mean()

0.48880597014925375